回答要求：
Always respond in 中文
不要回答重复的内容（如我提问中的代码）
由于作者是py新手，请多注释python语法和库的用法
不要增加"假设Tensor类在这个路径下"这种一眼就被看出是AI写的注释，不要让我的代码看起来像AI生成

项目介绍：
此项目名为deepx的py部分
是deepx的python部分，项目路径为/home/lipeng/code/ai/deepx/front/py
deepx的对外暴露的设计，尽可能接近pytorch的API
deepx_py是前端，负责搭建深度学习模型,但并不参与实际数据存储和计算
deepx_py虽然有类似pytorch的API,但只是调用excuter内的对应实现
deepx_py依赖网络api调用后端excuter的计算